@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

::placeholder {
    color: #6c757d !important;
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}
